.billCard__wrapper {
  width: 40vw;
  height: 90vh;
  background: url("./../image/money-256310_1920.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 5vh auto;
}
