.billCard__wrapper {
  width: 40vw;
  height: 90vh;
  background: url("./../image/bill.jpg");
  background-size: cover;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #7a7a7a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5vh auto;
}
